/* this common css file,it contains header,navbar and footer
will be embeded with all html file */
/* reset */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
li{
    list-style-type: none;
}  
/* base styles */
body{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/* mobile styles */
/* styling header */
header{
    background: #162138;
    padding: 1px;
}
header h2{
    padding: 5px 10px;
    text-transform: uppercase;
    color: #f5a425;
    font-weight: bolder;
}
header h2 span{
    color: #FFFFFF;
    font-weight: lighter;
}
/* styling navbar */
nav{
    background-color: #20303f;
    text-align: center;
    padding: 5px 0;
}
nav ul li{
    line-height: 25px;
    
}
nav ul li a{
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #f5a425;
}
nav ul.main-menu li:nth-child(4){
    border-top: 1px solid #f5a425;
}
nav ul.sub-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul.sub-menu  li{
    border-left: 1px solid #f5a425;
    border-right: 1px solid #f5a425;
    
}
nav ul.sub-menu  li a{
    border: none;
    padding: 5px;
}
nav ul li a:hover{
    color: #f5a425;
}
/* small tablet styles */
@media screen and (min-width: 620px){
  
}
footer p{
    background: #162138;
    color: #f5a425;
    padding: 10px 0;
    text-align: center;
}
.form-section{
    width: 100%;
    max-width: 100%;
    height: auto;
    background-color: #fafafa1a;
}
.form-section h3{   
    text-align: center;
    padding: 40px;
    color: #fff;
    background-color: #fafafa33;
}
.form-section form{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.form-section form input{
    display: block;
    width: 100%;
    height: 40px;
    background-color: #fafafa1a;
    border-radius: 0px;
    border: none;
    outline: none;
    font-size: 13px;
    margin-bottom: 20px;
    letter-spacing: 0.5px;
    text-align: center;
    
}
.form-section form button{
    margin-top: 10px;
    background-color: #f5a425;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 700;
    padding: 15px 0;
    width: 100%;
    text-align: center;
    display: inline-block;
}
.form-section form button:hover{
    background-color: #4D1F64;
    transition: 0.25s;
}
.media-contact{
    background-color: #2b2b4d;
    text-align: center;
    border: none;
    width: 100%;
    padding: 20px 0 20px 0;
}
.media-contact h2{
    color:  #f5a425;
}
.media-contact h3{
    color: burlywood;    
}
.media-contact ul li a{
    border: 1.5px solid burlywood;
    padding: 5px;
    margin: 8px;
    border-radius: 7px;
    font-size: 40px;
    display: inline-block;
}
.media-contact ul li:nth-child(1) a{
    color: #4267B2;
}
.media-contact ul li:nth-child(2) a{
    color: #1D9BF0;
}
.media-contact ul li:nth-child(3) a{
    color:  #F2A60C;
}
.media-contact ul li:nth-child(4) a{
    color: #FF0000;
}
.media-contact ul li:nth-child(5) a{
    color: #0A66C2;
}

.media-contact ul li :hover{
    background-color: rgb(95, 92, 92);
}


/* large tablet & laptop styles */
@media screen and (min-width: 960px){
    header nav ul{
        text-align: right;
        padding: 15px 0;
       
    }
    header nav ul li{
        display: inline-block;
        margin-right: 25px;
        position: relative;
    }      
    header nav ul li ul.sub-menu{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        background-color: #20303f;
        padding: 5px 10px;
    }
    header nav ul li.has-sunmenu a::after{
        content: ' \02C5';
        color: #FFFFFF;
        font-weight: lighter;
    }
    Header nav ul li.has-sunmenu ul li a::after{
        display: none;
    }
    header nav ul li:hover ul{
        display: block;
        
    }
    header nav  ul  li a:hover{
        border-bottom: 2px solid #f5a425;
    }
    nav ul.sub-menu :hover nav ul.sub-menu{
        display: block;
    }
    nav ul li a,
    nav ul.main-menu li:nth-child(4),
    nav ul.sub-menu  li{
        border: none;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px){

}