/* this common css file,it contains header,navbar and footer
will be embeded with all html file */
/* reset */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body,p,a,ul,li{
    margin: 0;
    padding: 0;
    text-decoration: none;

}
li{
    list-style-type: none;
}  
/* base styles */
body{
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
}

/* mobile styles */
/* styling header */
header{
    background: #162138;
    padding: 1px;
}
header h2{
    padding: 5px 10px;
    text-transform: uppercase;
    color: #f5a425;
    font-weight: bolder;
}
header h2 span{
    color: #FFFFFF;
    font-weight: lighter;
}
/* styling navbar */
nav{
    background-color: #20303f;
    text-align: center;
    padding: 5px 0;
}
nav ul li{
    line-height: 25px;
    
}
nav ul li a{
    display: block;
    text-transform: uppercase;
    color: #FFFFFF;
    border-bottom: 1px solid #f5a425;
}
nav ul.main-menu li:nth-child(4){
    border-top: 1px solid #f5a425;
}
nav ul.sub-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul.sub-menu  li{
    border-left: 1px solid #f5a425;
    border-right: 1px solid #f5a425;
    
}
nav ul.sub-menu  li a{
    border: none;
    padding: 5px;
}
nav ul li a:hover{
    color: #f5a425;
}
/* small tablet styles */
@media screen and (min-width: 620px){
  
}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){
    header nav ul{
        text-align: right;
        padding: 15px 0;
       
    }
    header nav ul li{
        display: inline-block;
        margin-right: 25px;
        position: relative;
    }      
    header nav ul li ul.sub-menu{
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100%;
        background-color: #20303f;
        padding: 5px 10px;
    }
    header nav ul li.has-sunmenu a::after{
        content: ' \02C5';
        color: #FFFFFF;
        font-weight: lighter;
    }
    Header nav ul li.has-sunmenu ul li a::after{
        display: none;
    }
    header nav ul li:hover ul{
        display: block;
        
    }
    header nav  ul  li a:hover{
        border-bottom: 2px solid #f5a425;
    }
    nav ul.sub-menu :hover nav ul.sub-menu{
        display: block;
    }
    nav ul li a,
    nav ul.main-menu li:nth-child(4),
    nav ul.sub-menu  li{
        border: none;
    }

}

/* desktop styles */
@media screen and (min-width: 1200px){

}